Flask==3.0.3
flask-cors==4.0.1
Flask-SocketIO==5.3.0
gunicorn==22.0.0
langchain==0.2.1
langchain-community==0.2.1
chromadb==0.4.24
ollama==0.1.8
tinydb==4.9.0
python-dotenv==1.0.1
requests==2.32.3
unstructured==0.12.6
tiktoken==0.6.0
rank_bm25==0.2.2
sentence-transformers==2.7.0 # Added for re-ranking (conceptual)
